@use '../include';

.container {
  width: 100%;
  height: 350px;
  background-color: include.$main-color-black;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    @include include.inner;
    display: flex;
    justify-content: space-around;
    height: 250px;
    border-bottom: 1px solid #979797;
    padding: 30px 15px;
    font-family: include.$main-font-medium;
    ul {
      height: 100%;
      color: include.$bg-color-white;
      font-size: 20px;
      li:first-child {
        margin-top: 20px;
      }
      li {
        display: flex;
        align-items: center;
        height: 25px;
        color: rgba($color: include.$bg-color-white, $alpha: 0.7);
        margin: 5px 0px;
        font-size: 15px;
        a {
          color: rgba($color: include.$bg-color-white, $alpha: 0.7);
        }
      }
    }
    .logo_container {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        a {
          align-items: center;
          color: include.$bg-color-white;
          font-family: include.$logo-font;
          font-size: 45px;
        }
      }
    }
    .info_container {
      .info_github {
        .info_github_logo {
          width: 22px;
          height: 22px;
          background-image: url('/icon/normal/Github.svg');
          background-size: cover;
        }
        a {
          margin-left: 5px;
        }
      }
      .info_email {
        .info_email_logo {
          width: 22px;
          height: 22px;
          background-image: url('/icon/normal/Mail.svg');
          background-size: cover;
        }
        .info_email_text {
          margin-left: 5px;
          color: rgba($color: include.$bg-color-white, $alpha: 0.7);
        }
      }
    }
  }
}
