@use '../../include';

.alert_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: include.$bg-color-white;
  width: 300px;
  .alert_logo {
    margin-top: 30px;
    font-size: 30px;
    font-family: include.$logo-font;
    color: include.$main-color-black;
  }
  .alert_text {
    margin-top: 40px;
    font-size: 20px;
  }
  .alert_button {
    height: 50px;
    width: 30%;
    font-size: 18px;
    font-family: include.$main-font-bold;
    margin-top: 40px;
    margin-bottom: 30 px;
    background-color: include.$main-color-black;
    color: include.$bg-color-white;
    cursor: pointer;
    transition: all 0.15s linear;
    border: none;
    margin-bottom: 30px;
  }
  .alert_button:hover {
    background-color: include.$main-color-green;
  }
}
