@use '../../include';

.alert_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;

  background-color: include.$bg-color-white;
  .alert_logo {
    margin-top: 30px;
    font-size: 30px;
    font-family: include.$logo-font;
    color: include.$main-color-black;
  }
  .alert_text {
    margin-top: 60px;
    font-size: 20px;
  }
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 70px;
      font-size: 18px;
      font-family: include.$main-font-bold;
      margin-top: 40px;
      background-color: include.$main-color-black;
      color: include.$bg-color-white;
      cursor: pointer;
      transition: all 0.15s linear;
      border: none;
    }
    button:hover {
      background-color: include.$main-color-green;
    }
    .accept_button {
      margin-right: 10px;
    }
  }
}
