@use '../../include';
.container {
  background-color: include.$bg-color-white;
  width: 1000px;
  height: 700px;
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid include.$border-color-gray;
    font-size: 22px;
    color: include.$text-color-gray;
    .header_exit {
      cursor: pointer;
      position: absolute;
      background-image: url('/icon/normal/x_circle.svg');
      background-size: contain;
      background-color: inherit;
      right: 30px;
      height: 40px;
      width: 40px;
      color: include.$bg-color-white;
      border: none;
      border-radius: 50%;
    }
  }

  .form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form_caption {
      font-size: 14px;
      color: include.$error-color-red;
    }
    .form_input_box {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      input {
        width: 410px;
        height: 50px;
        outline: none;
        border: 3px solid include.$main-color-black;
        padding: 0px 30px;
        font-size: 16px;
      }
      input:focus {
        border: 3px solid include.$main-color-green;
        transition: all 0.15s linear;
        & + button {
          background-color: include.$main-color-green;
          transition: all 0.15s linear;
        }
      }
      input::placeholder {
        font-size: 16px;
        font-family: include.$main-font-bold;
        color: include.$text-color-gray;
      }
      button {
        cursor: pointer;
        margin-left: 8px;
        width: 90px;
        height: 50px;
        background-color: include.$main-color-black;
        color: include.$bg-color-white;
        font-family: include.$main-font-bold;
        font-size: 16px;
        outline: none;
        border: none;
      }
    }
  }
  .search_list {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    .search_list_player {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      margin: 10px 10px;
      .search_list_player_img {
        width: 120px;
      }
      .search_list_player_add_btn {
        padding: 5px;
        background-color: include.$main-color-black;
        color: include.$main-color-green;
        font-size: 20px;
        width: 40px;
        height: 40px;
        outline: none;
        border: 1px solid include.$main-color-green;
        border-radius: 5px;
      }
      .search_list_player_info {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .search_list_player_season {
          width: 25px;
        }
        .search_list_player_name {
          margin-left: 5px;
        }
      }
    }
    .search_list_player::after {
      content: '';
      position: absolute;
      right: -50%;
      bottom: -50%;
      width: 100%;
      height: 100%;
      background-color: inherit;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: #ffffff;

      transition: all 0.15s linear;
    }
    .search_list_player:hover {
      &.search_list_player::after {
        content: '+';
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: include.$main-color-green, $alpha: 0.7);
      }
    }
  }
}
