// font load

@font-face {
  font-family: 'WantedSans';
  src: url('/fonts/WantedSans-Regular.ttf');
}

@font-face {
  font-family: 'WantedSans-medium';
  src: url('/fonts/WantedSans-Medium.ttf');
}

@font-face {
  font-family: 'WantedSans-bold';
  src: url('/fonts/WantedSans-Bold.ttf');
}

@font-face {
  font-family: 'WantedSans-semiBold';
  src: url('/fonts/WantedSans-SemiBold.ttf');
}

@font-face {
  font-family: 'LeferiPointBlackOblique';
  src: url('/fonts/LeferiPointBlackOblique.ttf');
}

// font palette

$logo-font: 'LeferiPointBlackOblique';
$main-font: 'WantedSans';
$main-font-medium: 'WantedSans-medium';
$main-font-semiBold: 'WantedSans-semiBold';
$main-font-bold: 'WantedSans-bold';
