@use './font.scss';
.main_container {
  .back_btn_container {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      font-family: font.$main-font-bold;
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
    img {
      height: 12px;
      margin-right: 20px;
    }
  }
  .title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: font.$main-font-bold;
    img {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
    .title_name {
      font-size: 20px;
      color: #04e45f;
      margin-right: 10px;
    }
    .title_info {
      font-size: 15px;
    }
  }
}
