@use './font.scss';
.main_container {
  .back_btn_container {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      font-family: font.$main-font-bold;
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
    img {
      height: 12px;
      margin-right: 20px;
    }
  }
  .title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: font.$main-font-bold;
    img {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
    .title_name {
      font-size: 20px;
      color: #04e45f;
      margin-right: 10px;
    }
    .title_info {
      font-size: 15px;
    }
  }
  .content_container {
    margin-top: 50px;
    .content_player_container {
      display: flex;
      flex-direction: column;
      .content_player_position {
        display: flex;
        justify-content: center;
        font-family: font.$main-font-bold;
        font-size: 25px;
        p:first-child {
          color: #04e45f;
        }
        p {
          margin: 0px 50px;
        }
      }
      .content_player_list {
        display: flex;
        margin-top: 70px;
        justify-content: center;
        align-items: center;
        .content_player {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0px 20px;
          img {
            height: 150px;
            width: 150px;
          }
          p {
            margin-top: 10px;
            font-size: 14px;
            font-family: font.$main-font-medium;
          }
        }
      }
    }
    .content_highlight_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .content_highlight {
        width: 800px;
      }
    }
  }
}
