@font-face {
  font-family: 'nexon-gothic';
  src: url('/fonts/NEXON Lv2 Gothic.ttf');
}

@font-face {
  font-family: 'nexon-gothic-medium';
  src: url('/fonts/NEXON Lv2 Gothic Medium.ttf');
}

@font-face {
  font-family: 'nexon-gothic-bold';
  src: url('/fonts/NEXON Lv2 Gothic Bold.ttf');
}

@font-face {
  font-family: 'nexon-gothic-light';
  src: url('/fonts/NEXON Lv2 Gothic Light.ttf');
}

@font-face {
  font-family: 'logo-font';
  src: url('/fonts/LeferiPointBlackOblique.ttf');
}
