// font load

@font-face {
  font-family: 'nexon-gothic';
  src: url('/fonts/NEXON Lv2 Gothic.ttf');
}

@font-face {
  font-family: 'nexon-gothic-medium';
  src: url('/fonts/NEXON Lv2 Gothic Medium.ttf');
}

@font-face {
  font-family: 'nexon-gothic-bold';
  src: url('/fonts/NEXON Lv2 Gothic Bold.ttf');
}

@font-face {
  font-family: 'nexon-gothic-light';
  src: url('/fonts/NEXON Lv2 Gothic Light.ttf');
}

@font-face {
  font-family: 'LeferiPointBlackOblique';
  src: url('/fonts/LeferiPointBlackOblique.ttf');
}

// font palette

$logo-font: 'LeferiPointBlackOblique';
$main-font: 'nexon-gothic';
$main-font-medium: 'nexon-gothic-medium';
$main-font-light: 'nexon-gothic-light';
$main-font-bold: 'nexon-gothic-bold';
