@use './font.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .top_menu {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo_container {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: font.$logo-font;
    font-size: 70px;
    a {
      text-decoration: none;
      color: #222323;
    }
  }
  .discriptor {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    font-family: font.$main-font-medium;
    font-size: 17px;
    color: #222323;
  }
  .nav_bar {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #dde1e5;
    border-bottom: 1px solid #dde1e5;
    ul {
      display: flex;
      justify-content: center;
      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        width: 150px;
        height: 30px;
        font-size: 15px;
        font-family: font.$main-font-bold;
        color: #222323;
      }
      li:hover::after {
        content: '';
        position: absolute;
        bottom: -1px;
        background-color: #04e45f;
        width: 80%;
        height: 4px;
      }
      li:hover {
        cursor: pointer;
        color: #04e45f;
      }
    }
  }
}
