@use './font.scss';

.discriptor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .discriptor_logo {
    font-size: 25px;
    font-family: font.$logo-font;
    margin-right: 20px;
  }
  .discriptor_ment {
    font-size: 25px;
    font-family: font.$main-font-bold;
    color: #04e45f;
  }
}
.selector_container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    width: 34%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #04e45f inset;
  }
  .selector_pl,
  .selector_ligue1,
  .selector_laliga,
  .selector_international {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      height: 70%;
    }
  }
}
