@use './font.scss';

.main_container {
  .popular_highlight_container::before {
    position: absolute;
    z-index: 0;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: 500px;
    background-image: url('/icon/normal/logo_fc.svg');
    background-repeat: no-repeat;
    opacity: 50%;
  }
  .popular_highlight_container {
    position: relative;
    background-color: #f8f8f8;
    margin-top: 100px;
    height: 500px;
    width: 100%;

    .popular_highlight_header {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-left: 15px;
      .popular_highlight_header_logo {
        height: 45px;
        width: 45px;
        margin-right: 15px;
      }
      .popular_highlight_header_title {
        font-size: 20px;
        margin-right: 10px;
        font-family: font.$main-font-bold;
        color: #04e45f;
      }
      .popular_highlight_header_info {
        font-family: font.$main-font-medium;
        font-size: 12px;
        color: #222323;
      }
    }
    .popular_highlight_main {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;

      .popular_highlight_main_btn_left {
        position: absolute;
        left: 20px;
        width: 20px;
        height: 25px;
      }
      .popular_highlight_main_btn_right {
        position: absolute;
        right: 20px;
        width: 20px;
        height: 25px;
      }
      .popular_highlight_main_player {
        display: flex;
        flex-direction: column;
        margin-right: 70px;
        width: 450px;
        height: 330px;
        .popular_highlight_main_player_container {
          display: flex;
          align-items: center;
          margin: 15px 0;
          .popular_highlight_main_player_position {
            font-family: font.$main-font-bold;
            font-size: 20px;
          }
          .popular_highlight_main_player_img {
            display: flex;
            img {
              margin: 0 5px;
              height: 70px;
              width: 70px;
            }
          }
        }
      }
      .popular_highlight_main_video {
        width: 450px;
        height: 300px;
      }
    }
  }
  .create_highlight_btn_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .create_highlight_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      width: 200px;
      height: 50px;
      font-family: font.$main-font-bold;
      font-size: 16px;
      background-color: #222323;
      color: #04e45f;
      border-radius: 15px;
      border: 1px solid #04e45f;
    }
    .create_highlight_btn:hover {
      cursor: pointer;
      background-color: #04e45f;
      color: #222323;
      border-radius: 15px;
    }
  }
  .user_highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    background-color: #f8f8f8;
    .user_highlight_header {
      width: 100%;
      p {
        margin-left: 20px;
        font-size: 20px;
        color: #04e45f;
        font-family: font.$main-font-bold;
      }
    }
    .user_highlight_teams {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px;
      margin-top: 40px;
      .user_highlight_teams_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 20px 0;
        img {
          width: 70px;
          height: 70px;
        }
      }
      .user_highlight_teams_logo:hover {
        cursor: pointer;
        background-color: #222323;
      }
    }
  }
}
